h1{
  text-align: center;
  font-family: "Anton",sans-serif;
}
.art{
  margin:auto;
}
td{
  height: 300px;
  width: 150px;
  border:6px solid white;
}
#one{
  background-color:#FCFF3D;
}
#two{
  background-color: #FD5A5E;
}
#three{
  background-color: #FF2923;
}
#four{
  background-color:#00BC8D;
}
#five{
  background-color:#1D143E;
}
