.FirstDiv{
  color:red;
}
.SecondDiv{
  color: blue;
}
#singledout{
  color:green;
  text-decoration: line-through;
}
h3+ul{
  border: 4px dotted gray;
}
li a{
  color: red;
}
li a[href="www.npr.org"]{
  color:blue;
  border: 4px solid orange;
}
